<div class="home-modal">
    <div id="myModal" class="modal" style="display:block;">
      <div class="modal-content">
        <button class="close" @click="$emit('toggleFunc')">&times;</button>
        <div class="modal__header">
            <h2 >{{editMode ? 'Edit': 'Add'}}</h2>
        </div>
        <div class="modal-body">
            <div class="modal-body-item">
                <div class="modal__body-item-1">
                    <label>First Name</label>
                    <input id="nameInput"  v-model="data.name" type="text" :class="{ 'border-danger': errors.name }">
                </div>
                <div class="modal__body-item-1">
                    <label>Email Address</label>
                    <input id="emailInput"  v-model="data.email" type="email" :class="{ 'border-danger': errors.email }">
                </div>
            </div>
            <div class="modal-body-item">
                <div class="modal__body-item-1">
                    <label>Gender</label>
                    <div class="modal__body-item-select">
                        <select v-model="data.gender" id="gender" name="gender" :class="{ 'border-danger': errors.gender }">
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="modal-footer-save">
                <button v-if="!editMode" @click="addRow()">Save</button>
                <button v-else @click="editRow()">Edit</button>
            </div>
        </div>
      </div>
    </div>
</div>