
    <div class="user">
      <div class="container">
  
    
        <div class="user__item">
          <h2>Users</h2>
          <button @click="toggleModalNew()">Add Users</button>
        </div>
        <table id="customers">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          <tr v-for="(row,i) in add" :key="i">
            <td>{{i + 1}}</td>
            <td>{{row.name}}</td>
            <td>{{row.email}}</td>
            <td>{{row.gender}}</td>
            <td><button @click="rowEdit=row; toggleModalEdit()">Edit</button></td>
            <td><button @click="deleteRow">Delete</button></td>
          </tr>
        
        </table>
      </div>
      <modalAdd v-if="showModalNew" @toggleFunc="toggleModalNew" @addRow="addRow"/>
      <modalEdit v-if="showModalEdit" @toggleEdit="toggleModalEdit" :row="rowEdit"/>
    </div>

      
  